.chat-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding: 0.6rem;
    background-color: white;
}

.chat-top-left {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    position: relative;
}

.chat-top-left img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.online {
    width: 10px;
    height: 10px;
    background-color: rgb(154, 229, 50);
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    left: 30px;
}

.chat-top-right {
    display: flex;
    gap: 1.5rem;
    margin-right: 1.5rem;
}

.chat-top-right span {
    border: 1px solid gray;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.chat-top-right span:nth-child(2) {
    background-color: black;
    color: white;
}