.navber {
    position: fixed;
    top: 0;
    right: 15%;
    width: 10%;
    color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.nav-container{
    position: relative;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.navber img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}